<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AutoStart>
    <Mode>None</Mode>
    <GpiPortNumber>0</GpiPortNumber>
    <GpiLevel>false</GpiLevel>
    <FirstDelayInMs>0</FirstDelayInMs>
    <PeriodInMs>0</PeriodInMs>
    <UtcTimestamp>0</UtcTimestamp>
  </AutoStart>
  <AutoStop>
    <Mode>None</Mode>
    <DurationInMs>0</DurationInMs>
    <GpiPortNumber>0</GpiPortNumber>
    <GpiLevel>false</GpiLevel>
    <Timeout>0</Timeout>
  </AutoStop>
  <ReaderMode>MaxThroughput</ReaderMode>
  <SearchMode>DualTarget</SearchMode>
  <Session>2</Session>
  <TagPopulationEstimate>400</TagPopulationEstimate>
  <LowDutyCycle>
    <IsEnabled>false</IsEnabled>
    <EmptyFieldTimeoutInMs>500</EmptyFieldTimeoutInMs>
    <FieldPingIntervalInMs>200</FieldPingIntervalInMs>
  </LowDutyCycle>
  <Filters>
    <Mode>None</Mode>
    <TagFilter1>
      <BitPointer>0</BitPointer>
      <BitCount>0</BitCount>
      <MemoryBank>Reserved</MemoryBank>
      <FilterOp>Match</FilterOp>
    </TagFilter1>
    <TagFilter2>
      <BitPointer>0</BitPointer>
      <BitCount>0</BitCount>
      <MemoryBank>Reserved</MemoryBank>
      <FilterOp>Match</FilterOp>
    </TagFilter2>
  </Filters>
  <Report>
    <IncludePcBits>false</IncludePcBits>
    <IncludeAntennaPortNumber>true</IncludeAntennaPortNumber>
    <IncludeChannel>true</IncludeChannel>
    <IncludeFirstSeenTime>true</IncludeFirstSeenTime>
    <IncludeLastSeenTime>false</IncludeLastSeenTime>
    <IncludePeakRssi>true</IncludePeakRssi>
    <IncludeSeenCount>false</IncludeSeenCount>
    <IncludeFastId>false</IncludeFastId>
    <IncludePhaseAngle>true</IncludePhaseAngle>
    <IncludeDopplerFrequency>true</IncludeDopplerFrequency>
    <IncludeGpsCoordinates>false</IncludeGpsCoordinates>
    <IncludeCrc>false</IncludeCrc>
    <Mode>Individual</Mode>
    <OptimizedReadOps />
  </Report>
  <Antennas>
    <Antenna>
      <IsEnabled>true</IsEnabled>
      <PortNumber>1</PortNumber>
      <PortName>Antenna Port 1</PortName>
      <TxPowerInDbm>32.5</TxPowerInDbm>
      <RxSensitivityInDbm>0</RxSensitivityInDbm>
      <MaxRxSensitivity>true</MaxRxSensitivity>
      <MaxTransmitPower>true</MaxTransmitPower>
    </Antenna>
    <Antenna>
      <IsEnabled>true</IsEnabled>
      <PortNumber>2</PortNumber>
      <PortName>Antenna Port 2</PortName>
      <TxPowerInDbm>0</TxPowerInDbm>
      <RxSensitivityInDbm>0</RxSensitivityInDbm>
      <MaxRxSensitivity>true</MaxRxSensitivity>
      <MaxTransmitPower>true</MaxTransmitPower>
    </Antenna>
    <Antenna>
      <IsEnabled>true</IsEnabled>
      <PortNumber>3</PortNumber>
      <PortName>Antenna Port 3</PortName>
      <TxPowerInDbm>0</TxPowerInDbm>
      <RxSensitivityInDbm>0</RxSensitivityInDbm>
      <MaxRxSensitivity>true</MaxRxSensitivity>
      <MaxTransmitPower>true</MaxTransmitPower>
    </Antenna>
    <Antenna>
      <IsEnabled>true</IsEnabled>
      <PortNumber>4</PortNumber>
      <PortName>Antenna Port 4</PortName>
      <TxPowerInDbm>0</TxPowerInDbm>
      <RxSensitivityInDbm>0</RxSensitivityInDbm>
      <MaxRxSensitivity>true</MaxRxSensitivity>
      <MaxTransmitPower>true</MaxTransmitPower>
    </Antenna>
  </Antennas>
  <Gpis>
    <Gpi>
      <IsEnabled>true</IsEnabled>
      <DebounceInMs>20</DebounceInMs>
      <PortNumber>1</PortNumber>
    </Gpi>
    <Gpi>
      <IsEnabled>true</IsEnabled>
      <DebounceInMs>20</DebounceInMs>
      <PortNumber>2</PortNumber>
    </Gpi>
    <Gpi>
      <IsEnabled>true</IsEnabled>
      <DebounceInMs>20</DebounceInMs>
      <PortNumber>3</PortNumber>
    </Gpi>
    <Gpi>
      <IsEnabled>true</IsEnabled>
      <DebounceInMs>20</DebounceInMs>
      <PortNumber>4</PortNumber>
    </Gpi>
  </Gpis>
  <Gpos>
    <Gpo>
      <Mode>Normal</Mode>
      <GpoPulseDurationMsec>0</GpoPulseDurationMsec>
      <PortNumber>1</PortNumber>
    </Gpo>
    <Gpo>
      <Mode>Normal</Mode>
      <GpoPulseDurationMsec>0</GpoPulseDurationMsec>
      <PortNumber>2</PortNumber>
    </Gpo>
    <Gpo>
      <Mode>Normal</Mode>
      <GpoPulseDurationMsec>0</GpoPulseDurationMsec>
      <PortNumber>3</PortNumber>
    </Gpo>
    <Gpo>
      <Mode>Normal</Mode>
      <GpoPulseDurationMsec>0</GpoPulseDurationMsec>
      <PortNumber>4</PortNumber>
    </Gpo>
  </Gpos>
  <Keepalives>
    <Enabled>false</Enabled>
    <PeriodInMs>0</PeriodInMs>
    <EnableLinkMonitorMode>false</EnableLinkMonitorMode>
    <LinkDownThreshold>0</LinkDownThreshold>
  </Keepalives>
  <HoldReportsOnDisconnect>false</HoldReportsOnDisconnect>
  <TxFrequenciesInMhz />
</Settings>